* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
        
        background-color: whitesmoke;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.logo img {
    width: 50px;
    position: absolute;
    margin: 10px;
}

/* меню */
.menu {
    letter-spacing: 2px;
    word-spacing: 20px;
    width: 1750px;
    text-align: right;
    font-weight: 700;
    margin: 10px;
    padding-top: 20px;
}

.menu li {
    list-style-type: none;
    display: inline;
    font-size: 15px;
}

.menu a{
    color: rgb(25, 27, 26);
    text-decoration: none;
    
}

.menu a:hover {
    color: rgb(16, 201, 195);
    border-bottom: 2px solid #10c9c3;
}

/* хедер с именем и скилами */

.head-container {
    background: url(../img/about/420.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
}

.head-container:after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.name-info {
    text-align: center;
    position: relative;
    color: #fff;
    z-index: 3;
    padding-top: 200px;
    /* margin: 20px; */
    width: 1200px;
}

.name-info h1 {
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: #000 2px 1px;
}

.name-info p {
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;
    text-shadow: #000 2px 1px;
}

/* О СЕБЕ */

.about-icon {
    background-color: rgb(16, 201, 195);
        display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 255px;
    font-size: 20px;
    letter-spacing: 5px;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

.about-icon img {
    width: 100px;
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 800px;
}

.about-container img {
    width: 900px;
}
.about-text-container {
    background-color: #dddddb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
}
.text-about {
    width: 800px;
    margin: 0 auto;
}

.text-about h2 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.text-about p {
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.text-about img {
    width: 200px;
    height: 100px;
    padding-top: 100px;
}
/* ФОРМА */



.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
}

.form-about {
    width: 1000px;
}

.form-about h2 {
    font-size: 40px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.form-about p {
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.form-about a input {
    background-color: #10c9c3;
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;       
    font-weight: 700;
    color: #fff;
    border: none;
    margin: 20px;
    letter-spacing: 1px;
}

.form-about a input:hover {
    cursor: pointer;
    border-bottom: 2px solid #07fff7;
    transition: 0.2s;
}

/* модальное окно */

/* .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
}

.modal-content {
    width: 100%;
    max-width: 800px;
    padding: 50px;
    
} */


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 65, 63, 0.8);
    top:0;
    left:0;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
} 

.popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    }

.popup:target {
    opacity: 1;
    visibility: visible;
    overflow-y: hidden;
}

.popup__allclose {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.popup__content {
    background-color: aliceblue;
    color: black;
    max-width: 900px;
    padding: 30px;
    position: relative;
    transition: 0.8s;
    
}

.popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    }

    .popup__close img {
        width: 50px;
        height: 50px;
    }

.popup__title {
    font-size: 40px;
    margin: 0px 0px 1em 0px;
}

/* form modal */

form {
    width: 800px;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    z-index: 1000;
}


caption {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 20px;
}


#form-text{
font-size: 20px;
text-align: center;
padding: 20px;
}

table .in-1 {
font-size: 20px;
width: 200px;
}

table #input-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[name="username"], input[name="email"] {
    width: 350px;
    height: 45px;
    font-size: 25px;
    border: none;
    padding: 10px;
    margin: 0;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

input:hover {
    box-shadow: 2px 2px 10px #10c9c3;
    cursor: text;
    outline: none;
    border:none;
}

input[name="email"] {
    margin: 0;
}

input[name="title"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 740px;
    height: 55px;
    font-size: 25px;
    border: none;
    padding: 10px;
    margin: 0;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

#row2-title {
    width: 740px;
}

form textarea {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-top: 20px;
    width: 740px;
    outline: none;
    border:none;
}

form textarea:hover {
    box-shadow: 2px 2px 20px #10c9c3;
    outline: none;
    border:none;
    
}

input[type="submit"] {
    background-color: #10c9c3;
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;       
    font-weight: 700;
    color: #fff;
    border: none;
    margin: 20px;
} 

input[type="submit"]:hover {
    border-bottom: 3px solid #07fff7;
    transition: 0.1s;
    cursor: pointer;
}

input:focus::placeholder {
    color: transparent;
}

textarea:focus::placeholder {
    color: transparent;
}



footer {
    background-color: #141414;
    color: whitesmoke;
    width: 100%;
    margin: 0 auto;
    height: auto;
    
}

#foo-container {
    width: 1800px;
    margin: 0px auto;
}

#foo-container {
    display: flex;
    justify-content: center; 
    padding: 50px; 
    align-items: center; 
    height: 200px;
    
} 

footer #foo-company span {
    font-weight: 700;
    font-size: 20px;
    
    
} 

#foo-company {
    padding-top: 10px;
    
}

#foo-company p {
    font-size: 15px;
    width: 700px;
    padding-top: 10px;
} 

#foo-contacts {
    font-size: 20px;
    
}
#foo-contacts li {
    padding: 10px;
} 

#foo-li-one li, #foo-li-two li{
    padding: 10px;
    width: 345px;
    text-align: right;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
    list-style-type: none;
} 

footer a:hover {
    border-bottom: 2px solid #07fff7;
    color: #10c9c3;
}

footer li {
    list-style-type: none;
} 